<div class="page-header">
    <a href="#!/create" class="btn btn-success pull-right" title="Add Employee" data-toggle='tooltip'>
        <i class="fa fa-user-plus" aria-hidden="true"></i></a>
    <h2><strong>Employee Tracker</strong></h2>
</div>
<hr>
<div ng-controller="employeesController">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Salary</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="employee in employees.info">
            <td>{{employee.name}}</td>
            <td>{{employee.address}}</td>
            <td>{{employee.salary | currency}}</td>
            <td>
                <div class="d-flex justify-content-around" ng-controller="deleteController">
                <a ng-href="#!/read/{{employee.id}}" title="View Employee" data-toggle='tooltip'><i
                        class="fa fa-eye" aria-hidden="true"></i></a>
                <a ng-href="#!/update/{{employee.id}}" title="Edit Employee" data-toggle='tooltip'><i
                        class="fa fa-pencil" aria-hidden="true"></i></a>
                <a ng-click="confirmDelete(employee.id)" title="Delete Employee" data-toggle='tooltip'><i
                        class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="deleteMessage" class="col-md-6 alert alert-success"><p>Employee successfully deleted.</p></div>
</div>