<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header clearfix">
                    <h2 class="pull-left">Employees</h2>
                    <a href="#!/create" class="btn btn-success pull-right">Add New Employee</a>
                </div>
                <div class="col-md-10">
                    <div ng-controller="employeesController">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Address</th>
                                <th scope="col">Salary</th>
                                <th scope="col" class="tCenter">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="table-active" ng-repeat="employee in employees.info">
                                <td>{{employee.name}}</td>
                                <td>{{employee.address}}</td>
                                <td>{{employee.salary}}</td>
                                <td class="tCenter">
                                    <a ng-href="#!/read/{{employee.id}}" class="btn btn-info">VIEW</a>
                                    <a ng-href="#!/update/{{employee.id}}" class="btn btn-success">Edit</a>
<!--                                    <a ng-href="#!/delete/{{employee.id}}" class="btn btn-danger" id="btn-spacing">DELETE</a>-->
                                    <div ng-controller="deleteController">
                                    <input type="button" class="btn btn-danger" value="DELETE" ng-click="confirmDelete(employee.id)" />
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>