<div class="page-header">
    <h2>Employee Details</h2>
</div>
<div ng-controller="readController">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Salary</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{read.name}}</td>
            <td>{{read.address}}</td>
            <td>{{read.salary | currency}}</td>
            <td>
                <div class="d-flex justify-content-around" ng-controller="deleteController">
                <a ng-href="#!/update/{{read.id}}" title="Edit Employee" data-toggle='tooltip'><i
                        class="fa fa-pencil" aria-hidden="true"></i></a>
                <a ng-click="confirmDelete(read.id)" title="Delete Employee" data-toggle='tooltip'><i
                        class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex align-self-start">
        <a href="#/" class="btn btn-primary" title="Back" data-toggle='tooltip'><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
    </div>
    <br>
    <div id="deleteMessage" class="col-md-6 alert alert-success"><p>Employee successfully deleted.</p></div>
</div>