<div class="col-md-10" ng-controller="readController">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Salary</th>
            <th scope="col" class="tCenter">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-active">
            <td>{{read.name}}</td>
            <td>{{read.address}}</td>
            <td>{{read.salary}}</td>
            <td class="tCenter">
                <a ng-href="#!/update/{{read.id}}" class="btn btn-success">Edit</a>
                <a ng-href="#!/delete/{{read.id}}" class="btn btn-danger" id="btn-spacing">DELETE</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="col-lg-10 col-lg-offset-2">
        <a href="#/" class="btn btn-secondary" id="goBack">Back</a>
    </div>
</div>