<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Update Employee Information</h2>
        </div>
        <div class="col-md-10" ng-controller="updateController">

            <form method="POST" class="form-horizontal" id="updateForm">
                <fieldset>
                    <div class="form-group">
                        <div class="col-md-6">
                            <input name="name" type="text" class="form-control" id="name"
                                   ng-model="update.name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                    <textarea name="address" class="form-control" id="address" rows="3"
                              ng-model="update.address"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <input name="salary" class="form-control" id="salary"
                                   ng-model="update.salary">
                        </div>
                    </div>
                    <p id="msg"></p>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <input type="hidden" name="id" ng-model="update.id"/>
                            <input ng-click="saveUpdate()" type="button" id="submit"
                                   class="btn btn-success" name="submit" value="Update"/>
                            <a href="#/" class="btn btn-secondary">Back</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
